{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.type == "year"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.logo-url %}
            <a class="link" href="{{ site.logo-url }}">
                <img class="selfie" alt="{{ site.name }}" src="{{ site.picture }}" />
            </a>
        {% elsif site.about %}
            <a class="link" href="{{ site.url }}">
                <img class="selfie" alt="{{ site.name }}" src="{{ site.picture }}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{{ site.picture }}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        {% if page.title == "Home" %}
            <h2 class="description">{{ site.bio }}</h2>

            <p>
            You can find detail of past presentation along with slides where we have been given permission to publish them.
            <a href="/events">past event</a>
            </p>
            <p>
            future events will be posted on our meetup page.
            </p>

        {% endif %}

        {% if site.meetup %}
            {% include meetup-link.html %}
        {% endif %}

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
