[Desktop Entry]
Encoding=UTF-8
Name=Link to Electricity Demand Forecasting by Multi-Task Learning - IEEE Xplore Document
Type=Link
URL=http://ieeexplore.ieee.org/abstract/document/7467578/
Icon=text-html
