[Desktop Entry]
Encoding=UTF-8
Name=Link to Fundamentals of Machine Learning for Machine Translation - tef2016_kelleher_en.pdf
Type=Link
URL=https://ec.europa.eu/info/sites/info/files/tef2016_kelleher_en.pdf
Icon=application-pdf
