---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    {% seo %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/atom.xml" }}" />

    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,600" rel="stylesheet">
    <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400,600,700,300i,400i,600i,700i">
</head>
<body>
{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Past Events"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.type == "year"
%}{% assign showHeader = true %}{% endif %}
{% if showHeader == true %}
    {% include animated_logo.html %}
{% endif %}

{% include nav.html %}
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}  {% if showHeader %}show-header{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if page.title %}
                {% if showHeader != true %}
                    <div class="page {{ page.title | downcase }}">
                {% else %}
                    <div class="{{ page.title | downcase }}">
                {% endif %}
            {% else %}
                {% if showHeader != true %}
                    <div class="page {{ page.type | downcase }}">
                {% else %}
                    <div class="{{ page.type | downcase }}">
                {% endif %}
            {% endif %}
        {% endif %}
        {{ content }}
        </div>
    </div>

    {% include icons.html %}
    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    {% if site.analytics-piwik-url %}
        {% include analytics-piwik.html %}
    {% endif %}

</body>
</html>
